<a href="https://colab.research.google.com/github/SUCRESUCCES/BaekjoonHub/blob/main/Ex02%EC%97%B0%EC%82%B0%EC%9E%90.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 산술연산자
- 사칙연산(+,-. *, /) + 몫(//) + 나머지(%)

In [ ]:
# 나누기, 몫, 나머지

#변수 선언
num1 = 10
num2 = 7

# 포매팅 사용해서 연산 결과 출력
print(f'나누기 : {num1 / num2:.2f}')
print(f'몫 : {num1 // num2}')
print(f'나머지 : {num1 % num2}')

나누기 : 1.43
몫 : 1
나머지 : 3

In [ ]:
# 문자열 더하기
str1 = "안녕"
str2 = "하세요!"

print(str1 + str2)

안녕하세요!

In [ ]:
# 문자열 곱하기
str1 = '안녕'

str1 * 10

'안녕안녕안녕안녕안녕안녕안녕안녕안녕안녕'

In [ ]:
# 숫자를 문자열에 넣어서 더해보자!

num_str1 = '10'
num_str2 = '7'
print(num_str1 + num_str2)

107

In [ ]:
# 문자열이랑 숫자랑 더하면?

num1 = 10
str1 = "7"

# print(num1 + str1)

print(type(num1))
print(type(str1))

# 두 변수가 타입이 달라서 더할 수 없습니다.
# => 타입을 일치시켜준다.
# 형변환

<class 'int'>
<class 'str'>

In [ ]:
#자료형 변환
# 1. 두개 다 숫자로!
n_str = int(str1)

print(type(n_str))

print(num1 + n_str)

<class 'int'>
17

In [ ]:
# 2. 문자열로 변환

s_num = str(num1)

print(type(s_num))

print(s_num + str1)

<class 'str'>
107

### input 함수 사용해서 값을 받아 연산하기

In [ ]:
# num1, num2 값을 키보드로 입력받고
# 더하기, 빼기, 곱하기, 나누기, 몫, 나머지 연산의 결과를 출력

# 값 입력 받기 -> input
# 정수형 형변환이 필요 -> int
num1 = int(input('num1을 입력하세요 >> '))
num2 = int(input('num2을 입력하세요 >> '))

print('더하기 결과 : {}'.format(num1 + num2))
print('빼기 결과 : {}'.format(num1 - num2))
print('곱하기 결과 : {}'.format(num1 * num2))
print('나누기 결과 : {}'.format(num1 / num2))
print('몫 연산 결과 : {}'.format(num1 // num2))
print('나머지 연산 결과 : {}'.format(num1 % num2))

num1을 입력하세요 >>  12
num2을 입력하세요 >>  5

더하기 결과 : 17
빼기 결과 : 7
곱하기 결과 : 60
나누기 결과 : 2.4
몫 연산 결과 : 2
나머지 연산 결과 : 2

## 지수 연산자(**)
제곱 연산을 수행

In [ ]:
# 2의 3제곱을 연산해보자
2 ** 3

8

In [ ]:
# 키보드로 입력을 받아 지수연산을 실행해보자 !
#1. 정수값 입력받기
#2. 지수 값 입력받기

# 2의 3승은 8입니다.라고 출력해보자 ! !
number = int(input('정수입력 >'))
power = int(input('지수 입력> '))
print(f'{number}의 {power}제곱은 {number**power}입니다.')

정수입력 > 2
지수 입력>  6

2의 6제곱은 64입니다.

## 비교 연산자
두 값을 비교하는 연산자 -> True, False반환

In [ ]:
num1 = int(input('num1을 입력하세요 >> '))
num2 = int(input('num2을 입력하세요 >> '))

print(f"num1 < num2 ? {num1 < num2}")
print(f"num1 <= num2 ? {num1 <= num2}")
print(f"num1 >= num2 ? {num1 >= num2}")
print(f"num1 > num2 ? {num1 > num2}")
print(f"num1 == num2 ? {num1 == num2}")
print(f"num1 != num2 ? {num1 != num2}")

num1을 입력하세요 >>  1
num2을 입력하세요 >>  2

num1 < num2 ? True
num1 <= num2 ? True
num1 >= num2 ? False
num1 > num2 ? False
num1 == num2 ? False
num1 != num2 ? True

### 지난시간 숙제 같이 풀어보기!

![image.png](attachment:17466f9a-93d9-4242-a806-9a6ef2b53a70.png)

In [ ]:
p = int(input("python 점수 입력 >> "))
m = int(input("머신러닝 점수 입력 >>"))
d = int(input("딥러닝 점수 입력 >> "))

total_score = p + m + d # 합계 -> 합계를 3으로 나누면 평균

print("합계 : {}".format())

![image.png](attachment:750f4201-5cb1-49b0-90c3-e24ff3cbd6cd.png)

In [ ]:
time = int(input("시간 입력 >> "))
# 1시간 60분, 1분이 60초 -> 1시간은 몇초 ?  3600
# 초를 3600으로 나눈 몫이 시간!
# 초를 3600으로 나눈 나머지를 사용해서 분을 계산
hour = time // 3600
time = time % 3600
minute = time // 60
second = time % 60
print("{}시간 {}분 {}초".format(hour, minute, second))

시간 입력 >>  7533

2시간 5분 33초

## 대입(복합)연산자

In [ ]:
# 더하면서 대입하는 거 -> +=
num = 27
print(num)

num += 3  # num = num + 3
print(num)

27
30

In [ ]:
# 빼면서 대입하기 -> -=
num = 100
print(num)

# num = num - 40
num -= 40
print(num)

100
60

In [ ]:
# 곱하면서 대입
num = 10
print(num)

num *= 10
print(num)

num *= 10 # num = num * 10
print(num)

10
100
1000

## 교환
: 서로 바꾸다

In [ ]:
a = 3
b = 7
print(a, b)

temp = a
a = b
b = temp

print(a, b)

3 7
7 3

In [ ]:
a = 3
b = 7

print(a, b)

a, b = b, a
print(a, b)

3 7
7 3

### 삼항 연산자

A if 조건식 else B

조건에 따라 다른 값을 반환하는 연산자

In [ ]:
# 키보드로 두 개의 정수를 입력받아 두 정수 중 큰수를 출력하시오

# 입력 받기
a = int(input('정수 입력>>'))
b = int(input('정수 입력>>'))

# 타입 확인
print(type(a))
print(type(b))

# 두 수 중에 큰 수 출력하기

# 비교 연산자 사용해서 조건식 만들어주기
print(f'a : {a}') if a > b else print(f'b : {b}')

정수 입력>> 3
정수 입력>> 10

<class 'int'>
<class 'int'>
b : 10

In [ ]:
# 키보드로 두개의 정수를 입력받아 큰수에서 작은 수를 뺀 결과값을 출력

a = int(input('첫번째 정수 입력 >> ' ))
b = int(input('두번째 정수 입력 >> '))

# 큰수에서 작을수를 뺀 결과값을 출력

print('두 수의 차 :', a - b if a > b else b - a)
print(f'두 수의 차 : {a - b if a > b else b - a}')

첫번째 정수 입력 >>  5
두번째 정수 입력 >>  10

두 수의 차 : 5
두 수의 차 : 5

In [ ]:
# 키보드로 정수를 입력 받아 홀수인지 짝수인지 판별하시오
a = int(input("정수 입력 >> "))

# 2로 나누어 떨어진다 -> 2로 나눈 나머지 값이 0

print(f'{a}는(은) {'짝수' if a % 2 == 0 else '홀수'}입니다')

정수 입력 >>  33

33는(은) 홀수입니다

In [ ]:
age = int(input("나이를 입력하세요 >> "))
print(f'{'성인' if age >= 20 else '청소년'}입니다')

나이를 입력하세요 >>  21

성인입니다

In [ ]:
score = int(input("점수를 입력하세요 >> "))
print(f'결과 : {'Pass' if score >= 60 else 'Fail'}')

점수를 입력하세요 >>  55

결과 : Fail